/server/.env
/server/node_modules/
/server/dist/
/server/coverage/

/android/.gradle/
/android/local.properties
/android/build/
/android/**/build/
/android/captures/
/android/.externalNativeBuild/
/android/.cxx/
/android/*.iml
/android/.idea/caches/
/android/.idea/libraries/
/android/.idea/shelf/
/android/.idea/tasks.xml
/android/.idea/workspace.xml
/android/.idea/assetWizardSettings.xml

*.log
